#board {
  width: 800px;
  height: 800px;
  background-color: white;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 30px;
}

.card {
  position: relative;
  border: solid 2px darkblue;
  border-radius: 20px;
  box-shadow: 0px 10px 0px 0px darkblue;

  &:not(.hidden)::after {
    content: attr(data-emoji);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.hidden {
    background-color: lightblue;
  }
  &.pressed {
    transform: translateY(10px);
    box-shadow: 0 0 0 0 #000080;
  }
}
