#board {
  width: 800px;
  height: 800px;
  background-color: white;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
}

.card {
  position: relative;
  border: solid 2px black;
  border-radius: 20px;

  &:not(.hidden)::after {
    content: attr(data-emoji);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.hidden {
    background-color: black;
  }
}
