.board {
  max-width: 100px;
  background-color: var(--blue);
  display: grid;
  padding: 10px;
  gap: 30px;
}

.card {
  position: relative;
  border-bottom: solid 0.1rem var(--white);
  font-size: 1rem;
  font-weight: 1000;
  padding: 2px;
  width: 100px;
  height: 25px;

  &:not(.hidden)::after {
    content: attr(data-symbole);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.hidden {
    background-color: var(--blue);
  }

  &.active {
    background-color: var(--white);
    color: #1524f2;
  }

  &.found {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }

  &:focus {
    outline: 1px solid var(--white);
  }
}

#typed {
  text-transform: uppercase;
}

#cursor {
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#output p {
  white-space: pre;
}
