@import "font";
@import "base";
@import "layout";
@import "modules/_memory-game";

body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.4rem;
  padding: 20;
  background-color: #1524f2;
  color: white;

  font-family: "input mono", monospace;
}

p {
  text-transform: uppercase;
  font-size: 0.8rem;
}
