@import "font";
@import "base";
@import "layout";
@import "modules/_memory-game";
@import "modules/colors";
body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.4rem;
  padding: 20;
  background-color: var(--blue);
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;

  font-family: "input mono", monospace;
}
